    /* Estilos Personalizados */
    body,
    html {
        max-width: 100% !important;
        overflow-x: hidden;
        background-color: #8b8b8b;
        min-height: 100vh;
        /* Asegura que body y html ocupen al menos el 100% de la altura del viewport */
    }

    /* Estilo base para mydropdown */
    .mydropdown {
        display: block;
        position: relative;
        width: 100%;
        /* Ocupa todo el ancho disponible */
        background: #51565a;
        /* Fondo claro, puedes cambiarlo */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        /* Sombra para darle profundidad */
        border-radius: 0.25rem;
        /* Bordes redondeados */
    }

    .mydropdown a {
        color: #1ce219;
        /* Color del texto, azul bootstrap por defecto */
        padding: 12px 16px;
        /* Espaciado interno */
        text-decoration: none;
        /* Sin subrayado */
        display: block;
        /* Hace que cada enlace ocupe su propia fila */
    }

    /* Cambia el fondo al pasar el mouse */
    .mydropdown a:hover {
        background-color: #4c4d52;
    }

    /* Estilo para dispositivos móviles */
    @media (max-width: 576px) {
        .mydropdown {
            font-size: 16px;
            /* Texto más pequeño en móviles */
        }
    }

    /* Estilo para tabletas */
    @media (min-width: 577px) and (max-width: 992px) {
        .mydropdown {
            font-size: 18px;
            /* Tamaño de texto intermedio para tabletas */
        }
    }

    /* Estilo para PC */
    @media (min-width: 993px) {
        .mydropdown {
            font-size: 18px;
            /* Tamaño de texto más grande para PC */
            width: 50%;
            /* Menú no ocupa todo el ancho en pantallas grandes */
            margin: 0 auto;
            /* Centrado si no ocupa todo el ancho */
        }
    }

    .container {
        width: 95% !important;
        /* Establece el ancho del contenedor al 95% del ancho disponible de su elemento padre */
        margin: 0 auto;
        /* Centra el contenedor horizontalmente */
    }

    .custom-badge {
        background-color: #6c757d;
        /* You can change this color */
        color: #ffffff;
        border-radius: 5px;
        padding: 2px 8px;
        box-shadow: 1px 1px 3px #888888;
        width: 15%;
        /* Set width */
        text-align: center;
        /* Center the text */
    }

    .text-container {
        padding: 0 15px;
        width: 65%;
        /* Set width */
    }

    .custom-link,
    .custom-description-link {
        color: #6c757d;
        /* Matching color for text and links */
        text-decoration: none;
    }

    .custom-link:hover,
    .custom-description-link:hover {
        text-decoration: underline;
        /* Underline on hover */
    }

    .custom-title {
        font-weight: bold;
        text-shadow: 1px 1px 2px #888888;
    }

    .custom-description {
        font-style: italic;
        /* Italic style for description */
    }

    .custom-elapsed-time {
        font-size: 12px;
        color: #a0a0a0;
        /* Light grey color for elapsed time */
        width: 20%;
        /* Set width */
        text-align: center;
        /* Center the text */
    }

    .pagination-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    }

    .pagination-wrapper nav {
        flex-grow: 0;
        /* Evita que el nav crezca y ocupe más espacio del necesario */
    }

    .pagination-wrapper svg {
        width: 1em;
        /* O el tamaño que prefieras */
        height: 1em;
    }

    .pagination-wrapper .page-link {
        width: equal;
    }

    /* Definición de variables CSS en :root para que sean accesibles globalmente */
    :root {
        --main-color: #fbfbfa;
        /* Color principal */
    }

    .login-page,
    .register-page {
        background: #33383D;
    }

    .login-box,
    .register-box {
        width: 360px;
        margin: 7% auto;
        margin-top: 100px;
        background-color: #495057;
        /* A slightly lighter background for the form itself */
        border-radius: 15px;
        /* Rounded borders */
        padding: 20px;
        /* Some padding so the content doesn't touch the edges */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* A subtle shadow */

    }

    .login-box-msg,
    .register-box-msg {
        margin: 0;
        padding: 0.5rem 1rem;
        text-align: center;
        color: #251f0e;
        text-transform: uppercase;
        font-weight: bold;
    }

    .login-logo,
    .register-logo {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 25px;
        color: var(--main-color);
    }

    .login-logo a,
    .register-logo a {
        color: var(--main-color);
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }

    .login-logo h4,
    .register-logo h4 {
        color: var(--main-color);
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }

    /* Again, for hover state */
    .login-logo a:hover,
    .register-logo a:hover {
        color: #ffffff;
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }

    .login-card-body,
    .register-card-body {
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
        transition: 0.3s;
    }

    .card-body {
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
        transition: 0.5s;
    }

    .custom-card {
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        margin: 5px;
    }

    .card .card-header
        {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #434343;
        text-shadow: 2px 2px 4px rgb(117, 117, 117);
    }

    .custom-card .card-header,
    .custom-card .card-footer {
        padding: 3px;
        border-radius: 0.5rem;
        text-align: auto;
    }

    .btn-whatsapp {
        background-color: #25D366;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
    }

    .btn-whatsapp:hover {
        background-color: #128C7E;
    }

    .ck-editor__editable,
    textarea {
        min-height: 150px;
    }

    .datatable {
        width: 100% !important;
    }

    table.dataTable tbody td.select-checkbox::before,
    table.dataTable tbody td.select-checkbox::after,
    table.dataTable tbody th.select-checkbox::before,
    table.dataTable tbody th.select-checkbox::after {
        top: 50%;
    }

    .dataTables_length,
    .dataTables_filter,
    .dt-buttons {
        margin-bottom: 0.333em;
    }

    .dt-buttons .btn {
        margin-left: 0.333em;
        border-radius: 0;
    }

    .table.datatable {
        box-sizing: border-box;
        border-collapse: collapse;
    }

    table.dataTable thead th {
        border-bottom: 2px solid #dee2e6;
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 1px solid #dee2e6;
    }

    .select2 {
        max-width: 100%;
        width: 100%;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background-image: none;
    }

    .btn-group-xs>.btn,
    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .searchable-title {
        font-weight: bold;
    }

    .select2-container--open {
        z-index: 9999;
    }

    .searchable-fields {
        padding-left: 5px;
    }

    .searchable-link {
        padding: 0 5px 0 5px;
    }

    .searchable-link:hover {
        cursor: pointer;
        background: #eaeaea;
    }

    .select2-results__option {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-group .required::after {
        content: " *";
        color: red;
    }

    .form-group-dropdowns {
        display: flex;
        justify-content: flex-start;
        /* Asegura que los elementos se alineen al inicio */
        gap: 20px;
        /* Aumenta el espacio entre los elementos para mejor legibilidad */
        flex-wrap: wrap;
        /* Permite que los elementos se ajusten en múltiples líneas si no hay espacio suficiente */
        align-items: center;
        /* Alinea los elementos verticalmente en el centro */
        padding: 2px;
        /* Añade un poco de padding al contenedor para espacio interno */
        margin-bottom: 10px;
        /* Espacio debajo del contenedor para separarlo de otros elementos */
        border-radius: 5px;
        /* Opcional: Añade bordes redondeados al contenedor */
        background-color: #f8f9fa;
        /* Opcional: Añade un color de fondo suave */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Opcional: Añade una sombra suave para darle profundidad */
    }

    .btn-group-sm.d-flex {
        justify-content: flex-start;
        /* Alineación de los botones al inicio */
        flex-wrap: wrap;
        /* Permite que los botones se ajusten en filas según el ancho disponible */
        gap: 8px;
        /* Espacio entre botones para mejor separación y accesibilidad */
        margin: 1rem 0;
        /* Espacio alrededor del grupo de botones para no estar demasiado pegado a otros elementos */
    }

    .btn-check:checked+.btn-outline-secondary {
        background-color: #007bff;
        /* Color de fondo para el botón activo (elige un color que combine con tu tema) */
        color: white;
        /* Color del texto para el botón activo */
        border-color: #007bff;
        /* Color del borde para el botón activo */
    }

    .btn-outline-secondary {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        /* Suaviza la transición de colores */
    }

    /* Estilo para feedback de validación */
    .invalid-feedback {
        display: block;
        /* Asegura que el mensaje de error sea visible */
        margin-top: 0.25rem;
        /* Espacio entre el mensaje de error y los botones */
        color: #dc3545;
        /* Color del mensaje de error para mejor visibilidad */
    }

    .help-block {
        font-size: 0.875em;
        /* Tamaño del texto para la ayuda */
        color: #6c757d;
        /* Color del texto para la ayuda, para que sea sutil pero legible */
        margin-top: 0.25rem;
        /* Espacio entre la ayuda y los botones */
    }

    .form-select-sm {
        flex: 1;
        /* Permite que los elementos select se expandan para ocupar el espacio disponible */
    }

    .form-check.is-invalid~.invalid-feedback {
        display: block;
    }

    .dataTables_length label select {
        width: 65px !important;
    }

    div.dt-button-collection {
        padding: 0;
    }

    .buttons-columnVisibility {
        display: block;
    }

    .buttons-columnVisibility.active {
        background-color: rgba(128, 128, 128, 0.1);
        font-weight: bolder;
    }