/* Estilos Personalizados */
body,
html {
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-color: #33383D;
}



.custom-badge {
    background-color: #6c757d;
    /* You can change this color */
    color: #ffffff;
    border-radius: 5px;
    padding: 2px 8px;
    box-shadow: 1px 1px 3px #888888;
    width: 15%;
    /* Set width */
    text-align: center;
    /* Center the text */
}

.text-container {
    padding: 0 15px;
    width: 65%;
    /* Set width */
}

.custom-link,
.custom-description-link {
    color: #6c757d;
    /* Matching color for text and links */
    text-decoration: none;
}

.custom-link:hover,
.custom-description-link:hover {
    text-decoration: underline;
    /* Underline on hover */
}

.custom-title {
    font-weight: bold;
    text-shadow: 1px 1px 2px #888888;
}

.custom-description {
    font-style: italic;
    /* Italic style for description */
}

.custom-elapsed-time {
    font-size: 12px;
    color: #a0a0a0;
    /* Light grey color for elapsed time */
    width: 20%;
    /* Set width */
    text-align: center;
    /* Center the text */
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}

.pagination-wrapper nav {
    flex-grow: 0;
    /* Evita que el nav crezca y ocupe más espacio del necesario */
}

.pagination-wrapper svg {
    width: 1em;
    /* O el tamaño que prefieras */
    height: 1em;
}

.pagination-wrapper .page-link {
    width: equal;
}

/* Definición de variables CSS en :root para que sean accesibles globalmente */
:root {
    --main-color: #fbfbfa; /* Color principal */
}

.login-page,
.register-page {
    background: #33383D;
}

.login-box,
.register-box {
    width: 360px;
    margin: 7% auto;
    margin-top: 100px;
    background-color: #495057;
    /* A slightly lighter background for the form itself */
    border-radius: 15px;
    /* Rounded borders */
    padding: 20px;
    /* Some padding so the content doesn't touch the edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* A subtle shadow */

}

.login-box-msg,
.register-box-msg {
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    color: #251f0e;
    text-transform: uppercase;
    font-weight: bold;
}

.login-logo,
.register-logo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
    color: var(--main-color);
}

.login-logo a,
.register-logo a {
    color: var(--main-color);
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.login-logo h4,
.register-logo h4 {
    color: var(--main-color);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

/* Again, for hover state */
.login-logo a:hover,
.register-logo a:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.login-card-body,
.register-card-body {
    padding: 0.5rem;
    border-radius: 1rem;
    /* Cantos redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: 0.3s;
}

.card-body {
    border-radius: 0.5rem;
    /* Cantos redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: 0.5s;
}

.custom-card {
    border-radius: 0.5rem;
    /* Cantos redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: 0.3s;
}

.custom-card .card-header,
.custom-card .card-footer {
    padding: 5px;
    border-radius: 0;
    /* Quitar redondeo del header y footer para que se integren con el cuerpo de la tarjeta */
}

.custom-card .card-body {
    padding: 5px;
    /* Espaciado más compacto */
}

.btn-whatsapp {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn-whatsapp:hover {
    background-color: #128C7E;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.select2-container--open {
    z-index: 9999;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid~.invalid-feedback {
    display: block;
}

.dataTables_length label select {
    width: 65px !important;
}

div.dt-button-collection {
    padding: 0;
}

.buttons-columnVisibility {
    display: block;
}

.buttons-columnVisibility.active {
    background-color: rgba(128, 128, 128, 0.1);
    font-weight: bolder;
}